* {
	/* border: 1px black solid; */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #eae7e7;
	font-family: "Teko", sans-serif;
}

.nav-bar-container {
	background-color: #5e0000;
	height: auto;
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}
.nav-bar {
	width: 20vw;
	margin-left: auto;
	display: flex;
	list-style-type: none;
	color: #eae7e7;
}

.nav-bar a {
	text-decoration: none;
	color: #eae7e7;
	font-size: 1.2rem;
	font-weight: 400;
	padding-top: 1.2rem;
	padding-bottom: 0.6rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
.nav-bar a:visited {
	color: #eae7e7;
}

.nav-bar a:hover {
	color: #5e0000;
	background-color: #eae7e7;
}
.nav-bar li {
	height: 3rem;
	padding-top: 0.75rem;
	color: #eae7e7;
	margin-top: 20px;
}

.nav-bar li:visited {
	color: #eae7e7;
}

.main-header {
	display: flex;
	font-size: 32px;
	color: white;
	justify-content: center;
	margin-left: 43vw;
}
#icon {
	width: 1.5em;
	height: 1.5em;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 8px;
}

.map-header {
	text-align: center;
	margin-bottom: 5vh;
	padding-top: 12vh;
	font-size: 26px;
}

#current-map-header {
	display: flex;
	justify-content: space-between;
	width: 60vw;
	margin: auto;
	align-self: center;
}

#current-map {
	text-align: center;
}

#current-map img {
	width: 60vw;
	margin-bottom: 10vh;
	filter: drop-shadow(5px 8px 10px);
}

#next-map-header {
	display: flex;
	justify-content: space-between;
	width: 60vw;
	margin: auto;
	align-self: center;
}

#next-map {
	text-align: center;
}

#next-map img {
	width: 60vw;
	margin-bottom: 10vh;
	filter: drop-shadow(5px 8px 10px);
}

footer {
	text-align: center;
	background-color: #5e0000;
	color: white;
	padding: 25px 0 15px 0;
	font-size: 16px;
}

footer a {
	color: #eae7e7;
}
footer a:visited {
	color: #eae7e7;
}

.nav-mobile {
	display: none;
}
